.App {
  display: flex;
  flex-direction: column;
  align-items: center;        /* Centra el contenido horizontalmente */
  justify-content: center;    /* Centra el contenido verticalmente */
  background-color: var(--background-color);
  margin: 0;                  /* Elimina márgenes del navegador */
  width: 100%;
  min-height: 100vh;   
 
}

.App > div {
  will-change: opacity, transform;
}

.title{
  color: var(--primary-text-color);
}

section {
  margin: 0px 10%;
  padding: 100px 0px;
  max-width: 1000px;
}

.app-content-blurred {
  filter: blur(5px);
  transition: filter 0.3s ease; /* Smooth transition */
}