@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables de temas (se aplican automáticamente a nivel root) */
[data-theme="light"] {
  --white: #ffffff;
  --background-color: var(--blanco-crema);
  --primary-text-color: var(--azul-oscuro);
  --foreground-color:var(--naranja-claro);
  --secondary-text-color: var(--gris-oscuro);
  --sombra:var(--sombra-light);
  --thirty-text-color:var(--gris-oscuro);
  --background-color-card: var(--blanco-crema-oscuro);
}

[data-theme="dark"] {
  --background-color: var(--azul-oscuro);
  --primary-text-color: var(--blanco-crema);
  --foreground-color: var(--naranja);
  --secondary-text-color: var(--gris);
  --thirty-text-color:var(--blanco-gris);
  --sombra: var(--sombra-dark);
  --background-color-card: var(--azul-oscuro-claro);
}

:root {

  --blanco-crema-oscuro: #d7c9b3;
  --blanco-crema: #f8eddc;
  --blanco-gris: #ccd6f6;

  --gris: #8892b0;
  --gris-oscuro:#495670;

  --azul-oscuro-claro:#283853;
  --azul-oscuro:#0b192b;


  --naranja-claro: #ed892f;
  --naranja: #ff6347;

  --sombra-light: rgba(0, 0, 0, 0.24);
  --sombra-dark: rgba(0, 0, 0, 0.84);



  --primary-family: "Inter", serif;
  --second-family: 'Mc Saatchi', sans-serif;
  --thirt-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --small-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;

  --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;

    --transition: 300ms;
}

body {
  background-color: var(--background-color); /* Usamos la variable */
  margin: 0;
  padding: 0;
  counter-reset: section;
}

.pt-5{
  padding-top: 5px;
}
.pt-8{
  padding-top: 8px;
}
