@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables de temas (se aplican automáticamente a nivel root) */
[data-theme="light"] {
  --white: #ffffff;
  --background-color: #f8eddc;
  --primary-text-color: #0b192b;
  --foreground-color: #ed892f;
}

[data-theme="dark"] {
  --background-color: #0b192b;
  --primary-text-color: #f8eddc;
  --foreground-color:  #ff6347;
}

:root {
  --primary-font: "Inter", serif;
  --second-family: 'Mc Saatchi', sans-serif;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body {
  background-color: var(--background-color); /* Usamos la variable */
  margin: 0;
  padding: 0;
}

