
/*Follow Mouse*/
/*
.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--foreground-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    background-color: transparent;
    transition: opacity 0.2s ease, transform 0.1s ease;
  }
    */

    .cursor, .cursor-dot {
      position: fixed; /* Cambiado de absolute a fixed */
      pointer-events: none;
      z-index: 1000;
    }
    
  .cursor-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--foreground-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease, transform 0.1s ease;
  }
  
  /*light and Dack*/
  .minimal-toggle-button {
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem; /* Tamaño del icono */
    color: var(--foreground-color); /* Color base del icono */
    transition: transform 0.2s ease, color 0.2s ease;
  }

  .minimal-toggle-button:hover {
    transform: scale(1.1); /* Pequeño efecto de zoom */
    color: var(--icon-hover-color, #d35400); /* Color del icono al hacer hover */
  }
  
  .icon {
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  }
  .iconMoon{
    color: var(--primary-text-color);
    font-size: 15px; /* Tamaño del icono */
  }
  


/*Buton color*/
:root{
    --padding: 1rem 4rem;
    --step: 0.13rem;
  }
  
  button:is(:hover, :focus-visible) {
    --active: 1;
  }
  
  button {
    font-family:'Roboto', sans-serif;
    border: 0;
    --active: 0;
    color:var(--foreground-color);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background: transparent;
    padding: 0;
  }
  
  button span:first-of-type {
    padding: 20px 0px 0px 20px;
  }
  
  button span:not(:first-of-type) {
    position: absolute;
  }
  
  [aria-hidden] { color: transparent; }
  button span {
    font-size: 15px;
    font-weight: 600;
    font-family: var(--primary-font);
    inset: 0;
    display: grid;
    background: var(--bg);
    place-items: center;
    transition: 0.25s ease;
    border: 2px solid var(--foreground-color);
    border-radius: 4px;
    translate:
      calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
      calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
    ;
  }
  
  span:nth-of-type(1) {
    --bg: var(--foreground-color);
  }
  
  span:nth-of-type(3) {
    --coefficient: 2;
    --bg: var(--background-color);
  }
  
  button:active {
    --active: 0.43;
  }



  
  

