
/*Follow Mouse*/

  .cursor-dot {
    pointer-events: none;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--foreground-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease, transform 0.1s ease;
  }

  
  /*light and Dack*/
  .minimal-toggle-button {
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 1rem; /* Tamaño del icono */
    color: var(--foreground-color); /* Color base del icono */
    transition: transform 0.2s ease, color 0.2s ease;
  }

  .minimal-toggle-button:hover {
    transform: scale(1.1); /* Pequeño efecto de zoom */
    color: var(--icon-hover-color, #d35400); /* Color del icono al hacer hover */
  }
  
  .icon {
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  }
  .iconMoon{
    color: var(--primary-text-color);
    font-size: 13px; /* Tamaño del icono */
  }
  .iconSun{
    color: var(--foreground-color);
    font-size: 18px; /* Tamaño del icono */
  }
  .iconSun:hover{
    color: var(--primary-text-color);
  }
  
/*Buton color*/
:root {
  --padding: 1rem 4rem;
  --step: 0.13rem;
}

button:is(:hover, :focus-visible) {
  --active: 1;
}

button {
  font-family: 'Roboto', sans-serif;
  border: 0;
  --active: 0;
  color: var(--foreground-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

button span:first-of-type {
  padding: 20px 0px 0px 20px;
}

button span:not(:first-of-type) {
  position: absolute;
}

[aria-hidden] {
  color: transparent;
}

button span {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--primary-family);
  inset: 0;
  display: grid;
  background: var(--bg);
  place-items: center;
  transition: 0.25s ease;
  border: 2px solid var(--foreground-color);
  border-radius: 4px;
  translate: calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
    calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1));
}

span:nth-of-type(1) {
  --bg: var(--foreground-color);
}

span:nth-of-type(3) {
  --coefficient: 2;
  --bg: var(--background-color);
}

button:active {
  --active: 0.43;
}

/*----------------------------------*/
/* App container styles */
.app-container {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

/* Maintain tab width */
.tabs-container .tab-button {
  font-family: var(--thirt-family);

}

/* Tabs (left menu) */
.tabs-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Tab Button Styling */
.tab-button {
  color:var(--secondary-text-color);
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: center; /* Centrar el texto */
  cursor: pointer;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  width: 110%;
}

.tab-button.active {
  font-weight: bold;
  color: var(--foreground-color)
}

/* Hover Effect */
.tab-button:hover {
  font-weight: bold;
  background-color:rgba(255, 192, 203, 0.217); /* Rosa claro con 30% de opacidad */ ;
}

/* Vertical Highlight Line */
.tab-button::before {
  content: "";
  position: absolute;
  left: 0; /* Coloca la línea al borde izquierdo */
  top: 0;
  bottom: 0;
  width: 3px; /* Ancho de la línea vertical */
  background-color: transparent; /* Línea invisible por defecto */
  transition: background-color 0.3s ease;
}

/* Active Tab Line (Vertical) */
.tab-button.active::before {
  background-color: var(--foreground-color); /* Color para la pestaña activa */
}

/* Hover Effect for Line */
.tab-button:hover::before {
  /*background-color: rgba(255, 165, 0, 0.7);  Color al pasar el mouse */ 
}

.tab-button::before {
  background-color: rgba(125, 125, 125, 0.381); /* Color al pasar el mouse */ 
}

/* Content (right section) */
.content-container {
  width: 68%;
  height: 110%;
  padding: 0px 10px 10px 30px;
  overflow-y: auto;
  font-family: var(--small-family);
}

/* Panel Content */
.panel {
  display: none;
}

.panel.active {
  display: block;
}

.titulo {
  font-size: 1.8rem;
  color: var( --thirty-text-color);
  font-weight: 500;
  font-family: var(--primary-family);
  margin-bottom: 10px;
}

.subtitulo{
  font-family: var(--thirt-family);
  color: var(--secondary-text-color);
  font-size: 18px;
  padding-bottom: 6px;
}
.texto{
  font-size: 18px;
  font-family: var(--small-family);
  color: var(--secondary-text-color);
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
/* Estilo general para la lista */
.custom-list {
  list-style-type: none; /* Elimina el marcador nativo */
  padding: 0;
  margin: 0;
  position: relative; /* Necesario para posicionar ::before de los li */
}

/* Aplica el estilo al before de los li */
.custom-list-item {
  position: relative; /* Necesario para posicionar el ::before */
  padding-left: 20px; /* Espacio reservado para el símbolo */
}

.custom-list-item::before {
  content: "-"; /* Símbolo que reemplaza el marcador */
  position: absolute;
  left: 0; /* Coloca el símbolo al inicio */
  color: var(--foreground-color); /* Color personalizado */
  font-size: 1.2em; /* Tamaño opcional para el símbolo */
  font-family: Arial, sans-serif; /* Opcional, asegura que el símbolo sea uniforme */
}

/* Card Work Stile */
/*----------------------------------*/

.projects__StyledProject-sc-1v1fime-1 {
  background-color: var(--background-color-card);
  transition: var(--transition);
  border-radius: 12px;
  &:hover,
  &:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
      color: var(--foreground-color);
  }
  
  &:hover .project-title a,
  &:focus .project-title a {
    transition: var(--transition);
      color: var(--foreground-color); /* Cambia el color del título */
  }
}

.project-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
}

.project-top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}


.folder {
  color: var(--foreground-color);
  font-size: 40px;
  
}


.project-title a{
  text-decoration: none;
  margin: 0 0 10px;
  color:var(--thirty-text-color);
  font-family: var(--second-family);
  font-size: 20px;
}

.project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  a {
      color: var(--secondary-text-color);
      font-size: 25px;
      margin-left: 10px;
      margin-right: 5px;
      transition: var(--transition);
      &:hover {
          color: var(--foreground-color);
      }
  }
}

.project-description {
  color: var(--secondary-text-color);
  font-family: var(--primary-family);
  font-weight: 350;
  margin-top: 10px;

}

.project-tech-list {
  color:var(--thirty-text-color);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  bottom: 0;
  li {
      font-family: var(--thirt-family);
      font-size: 10px;
      margin-top: 15px;
      margin-right: 15px;
  }
}

/* Featured Project */
/*----------------------------------*/
.featured__StyledProject-ywnbqt-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  border-radius: 10px;
  transition: var(--transition);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  background-color:rgba(255, 255, 255, 0.091);
}

.featured__StyledProject-ywnbqt-1:hover,
.featured__StyledProject-ywnbqt-1:focus {
  transform: translate(3px, -2px);
  box-shadow:  8px 6px -2px rgba(0, 0, 0, 0.3);
}

/* Project Content */
.project-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 650px;
  
}

.project-title-work a {
  text-decoration: none;
  margin: 0 0 10px;
  color: var(--thirty-text-color);
  font-family: var(--second-family);
  font-size: 30px;
}

.project-description {
  background-color: var(--description-background-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-family);
  font-weight: 350;
  margin-top: 10px;
}

.project-tech-list-featured {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  color:var(--thirty-text-color);

  li {
      font-family: var(--thirt-family);
      font-size: 13px;
      margin-top: 15px;
      margin-right: 15px;
      margin-left: 3px;
  }

}

/* Project Links */
.project-links-feature {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-top: 20px;
}

.project-links-feature a {
  color: var(--secondary-text-color);
  font-size: 25px;
  margin-left: 10px;
  margin-right: 5px;
  transition: var(--transition);
}

.project-links-feature a:hover {
  color: var(--foreground-color);
}

.project-overline{
  font-family: var(--thirt-family);
  color: var(--foreground-color);
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 12px;
}

/* Project Image */
.project-image {
  position: relative;
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.featured__StyledProject-ywnbqt-1:hover .project-image::before,
.project-image:hover::before {
  opacity: 0; /* Desaparece al hacer hover sobre el componente o la imagen */
}

.project-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.67%;
  background-color: rgba(255, 128, 0, 0.212); /* Color naranja con opacidad */
  transition: opacity var(--transition);
  border-radius: 5px;
}

.project-image:hover::before {
  opacity: 0; /* Desaparece al hacer hover */
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1; /* Asegura que la imagen esté por encima de la superposición */
}

@media (min-width: 1080px) {
  .main-image {
    width: 400px;
  }
  .project-links-feature{
    margin-top: 90px;
  }
}

