.navbar {
    position: fixed; /* Hace que la navbar quede fija */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
    z-index: 1000; /* Coloca la navbar encima de los demás elementos */
    background-color: var(--background-color); /* Asegúrate de darle un fondo para que no se mezcle con el contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 5px var(--sombra) /* Opcional: Añade una sombra para dar un efecto flotante */
}

  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  
  .navbar-left .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: var(--primary-family);
  }


.navbar-right {
    display: flex;               /* Utiliza flexbox para alinearlos */
    justify-content: flex-end;   /* Alinea a la derecha */
    align-items:center;
    margin-right: 50px;
}

.nav-links {
    list-style-type: none;       
    padding: 0;                 
    margin-right: 30px;                   
    display: flex;               
}

.nav-links li {
    margin-left: 30px;           /* Espacio entre los elementos */
}


/* Estilos generales para los enlaces */
.navbar .nav-link {
    color: var(--primary-text-color); /* Personaliza con tu color base */
    font-family: var(--primary-family);
    font-size: 18px;
    font-weight: 550;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--foreground-color); /* Cambia a tu color de hover */
}


/* Subrayado dinámico */
.navbar .nav-link::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--foreground-color); /* Personaliza con tu color de subrayado */
    bottom: -5px; /* Ajusta la distancia entre texto y subrayado */
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-out;
}

.navbar .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.title-container {
    display: flex;
    position: relative;
    width: 260px; /* Cambia según el ancho máximo del texto más largo */
    height: 2rem; /* Mantén el mismo valor para ambos textos */
    overflow: hidden;
}

.title-main {
    position: absolute; /* Los posicionamos absolutos para que partan del mismo punto */
    top: 0; /* Alineamos ambos al tope del contenedor */
    left: 0px; /* Se alinean en el mismo punto horizontal */
    white-space: nowrap; /* Evita que el texto se divida */
    display: inline-block;
    font-size: 2rem; /* Tamaño uniforme */
    font-weight: bold;
    color: var(--primary-text-color);
    transition: transform 0.5s ease;
}
.title-hover {
    position: absolute; /* Los posicionamos absolutos para que partan del mismo punto */
    top: 0; /* Alineamos ambos al tope del contenedor */
    left: 0px; /* Se alinean en el mismo punto horizontal */
    white-space: nowrap; /* Evita que el texto se divida */
    display: inline-block;
    font-size: 2rem; /* Tamaño uniforme */
    font-weight: bold;
    color: var(--foreground-color);
    transition: transform 0.5s ease;

}

.title-main {
    transform: translateX(0); /* Parte desde su posición inicial */
}

.title-hover {
    transform: translateX(110%); /* Parte fuera del área visible */
}

.title-main.slide-out {
    transform: translateX(-100%); /* Se desliza completamente hacia afuera */
}

.title-hover.slide-in {
    transform: translateX(0); /* Aparece desde la misma posición que F.A. */
}

.buttonNav{
    padding-left: 10px;
}